.grid {
    display: grid;
}

.title-lg {
    font: var(--title-lg);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}

.text-subtitle {
    font: var(--text-subtitle);
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
}

.mt-10 {
    margin-top: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.container-fixed {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}