.section-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    width: 1366px;
    margin: 0 auto;
}

.services-header {
    width: 365px;
    height: 61px;
    padding: 88px 500.5px 0 500.5px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: 155px;
    width: 888px;
    height: 155px;
    gap: 24px;
    margin-top: 56px;
    margin-bottom: 120px;
}

.service-box {
    width: 280px;
    height: 155px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}